p{
    color: red;
}
p,div{
    background-color: aliceblue;
}
div#myDiv p.mainClass{
    background-color: aqua;
}
div p{
    background-color: azure;
}
input[type="text"] .myClass{
    background-color: black;
}
div+span{
    background-color: blue;
}
p.myClass{
    background-color: brown;
}
div#myDiv{
    background-color: antiquewhite;
}
